@use '../../styles/abstracts/mixins' as mx;
@use '../../styles/base/variables' as v;

.enfoque {
    @include mx.grid(1, 4rem);
    align-items: center;

    @include mx.telefono-mediano {
        @include mx.grid(3, 2rem);
    }

    &__servicios {
        grid-row: 1/2;

        @include mx.telefono-mediano {
            grid-column: 1/3;
        }

        &--item {
            margin: 3rem 0;
            padding-bottom: 1rem;
            border-bottom: 1px solid v.$gris;

            .enfoque__titulos {
                display: flex;
                align-items: center;

                &--centro {
                    width: 100%;
                }
            }

            .enfoque__info {
                width: 80%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a {
                    color: v.$dark_blue;

                    &:hover {
                        color: v.$primario;
                    }
                }

                .icono {
                    font-size: 2rem;
                }
            }


            h3 {
                text-align: center;
                font-weight: v.$bold;

                span {
                    text-align: left;
                    font-size: clamp(3rem, 4vw, 6rem);
                    color: v.$gris;
                    font-weight: v.$black;
                }
            }
        }
    }

    &__items {
        grid-row: 2/3;
        
        @include mx.telefono-mediano {
            grid-row: 1/3;
            grid-column: 3/4;
        }

        p {
            text-align: justify;
        }

        ul {
            margin: 2rem;

            li {
                font-size: clamp(1.4rem, 1.6vw, 1.8rem);
                color: v.$gris_oscuro;
                line-height: 2;
            }
        }
    }
}