@use '../../../styles/base/variables' as v;
@use '../../../styles/abstracts/mixins' as mx;

.header__nav {
    position: absolute;
}

.hero__shape {
    position: relative;
    width: 100%;
    height: 80vh;
    margin-top: 2.5rem;
    background-image: url('../../../assets/img/header.png');
    background-size: cover;
    background-position: center;
    border-radius: 4rem;
    overflow: visible;


    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 250px;
        width: 30px;
        height: 30px;
        background: radial-gradient(circle at bottom right, transparent 70%, v.$fondo 71%);
    }

    &::before {
        content: "";
        position: absolute;
        top: 100px;
        left: 0px;
        width: 60px;
        height: 60px;
        background: radial-gradient(circle at bottom right, transparent 70%, v.$fondo 72%);
    }

    &--contenido {
        display: flex;
        flex-direction: column;
        height: 90%;
        justify-content: space-evenly;
        max-width: 90%;
        margin: 0 auto;
    }

    h1 {
        font-weight: v.$black;
    }

    h3 {
        font-weight: v.$bold;
    }

    h1,
    h3 {
        color: v.$blanco;
        text-align: left;
    }

    p {
        color: v.$blanco;
    }

    &--contacto,
    &--descripcion {
        width: 100%;

        @include mx.telefono-mediano {
            width: 65%;
        }
        @include mx.tablet-pequena {
            width: 50%;
        }
        @include mx.tablet-grande {
            width: 45%;
        }
    }

    &--contacto {
        padding-top: 1rem;
        background-color: v.$blanco;
        border-radius: v.$b_radius;
        height: 23rem;
        clip-path: polygon(0 0, 59% 0, 70% 10%, 100% 10%, 100% 99%, 0 100%);
        
        @include mx.telefono-grande{
            clip-path: polygon(0 0, 59% 0, 70% 25%, 100% 25%, 100% 99%, 0 100%);
            height: 17rem;
        }

        h4 {
            text-align: left;
        }

        .btns__header {
            display: flex;
            gap: 2rem;
            flex-direction: column;

            a {
                text-align: center;
            }

            @include mx.telefono_grande {
                flex-direction: row;
            }
        }
    }
}