@use '../../styles/base/variables' as v;
@use '../../styles//abstracts/mixins' as mx;

.precision {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;

    @include mx.telefono-mediano {
        height: 80vh;
    }

    &__info {
        text-align: center;
        line-height: 2;
        margin-top: 5rem;

        @include mx.telefono-mediano {
            margin-top: 0rem;
        }

        p {
            font-size: clamp(1.8rem, 2vw, 2.2rem);
        }
    }

    &::before {
        height: 70%;
        width: 90%;
        position: absolute;
        content: ' ';
        border-radius:
            70% 30% 69% 31% / 38% 39% 61% 62%;
        background-color: v.$primario;
        z-index: -1;

        @include mx.telefono-mediano {
            height: 55rem;
            width: 55rem;
        }
    }

    &__item {
        width: 30rem;
        background: rgba(255, 255, 255, 0.03);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(14.2px);
        -webkit-backdrop-filter: blur(14.2px);

        &::before {
            content: " ";
            background-color: #52AADF;
            width: 5rem;
            height: 5rem;
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            top: -2rem;
            left: -2rem;
        }

        h3 {
            font-weight: bold;
            color: v.$secundario;
        }

        &--1 {
            position: absolute;
            top: 10%;
            left: 10%;
            // transform: translate(-50%, -50%);

            @include mx.telefono-pequeno {
                top: 20%;
                left: 35%;
                transform: translate(-50%, -50%);
            }
        }

        &--2 {
            position: absolute;
            top: 50%;
            left: 10%;

            @include mx.telefono-pequeno {
                top: 80%;
                left: 35%;
                transform: translate(-50%, -50%);
            }
        }

        &--3 {
            position: absolute;
            top: 80%;
            left: 10%;
            
            @include mx.telefono-pequeno {
                top: 47%;
                left: 73%;
                transform: translate(-50%, -50%);
            }
        }
    }
}