@use '../../../styles/base/variables' as v;
@use '../../../styles/abstracts/mixins' as mx;

.footer {
    background-color: v.$primario;
    margin-top: -0.5rem;

    &__contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 5rem 0;

        @include mx.telefono-mediano {
            flex-direction: row;
            justify-content: space-between;
        }

        &--img {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            img {
                width: 15rem; 
                height: auto;
                object-fit: contain;
                background-color: v.$blanco;
                padding: 1.2rem;
                border-radius: 50%;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        &--info {
            flex: 1;
            color: v.$blanco;

            a {
                text-decoration: none;
                color: inherit;
                transition: color 0.3s ease;

                &:hover {
                    color: v.$secundario;
                }
            }
        }
    }
}