@use '../../styles/base/variables' as v;

.barra_header {
    width: 80%;
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: v.$fondo;
    border-bottom-right-radius: 7rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 8rem;
    justify-content: space-between;

    &__logo {
        img {
            height: 100%;
            width: auto;
        }
    }

    &__nav {
        display: flex;
        gap: 1rem;
        align-items: center;

        &--item {
            list-style: none;

            .nav__link {
                color: v.$negro;
                padding: 1rem 2rem;
                border-radius: v.$b_radius;

                &:hover {
                    color: v.$blanco;
                    background-color: v.$primario;
                }
            }

        }
    }
}