  $primario: #52AADF;
  $secundario: #7c18b1;
  $dark_blue: #0a0c45;

  $gris: #f8f9fa;
  $blanco: #ffffff;
  $negro: #000000;

  $font_primario: 'Poppins', sans-serif;

  $delgada: 300;
  $regular: 400;
  $bold: 700;
  $black: 900;